  {% load static %}

<div class="footer">
        <div class="footer__skin skin">
            <div class="footer__content">

                <div class="footer__logo footer-logo"> <img style="height: 70px"  src="{% static "img/logo1.png" %}">
                                     </div>

                <div class="footer__col _first">
 <ul class="footer__links footer-links">
            <li class="footer-links__item">
            <a href="/about/" class="footer-links__link">О нас</a>
        </li>
            <li class="footer-links__item">
            <a href="/contacts/" class="footer-links__link">Контакты</a>
        </li>
            <li class="footer-links__item">
            <a href="/otsledit-zakaz/" class="footer-links__link">Отследить заказ</a>
        </li>
        </ul>
<div id="bxdynamic_g8taYv_end" style="display:none"></div>
                </div>

            </div>
				<style>
	.btm-menu{width:100%; margin-top: 25px;}
	.col-xs-3{width:25%; box-sizing: border-box; padding: 0 15px; float: left;}
	</style>
	        </div>
    </div>